<div *ngIf="store">
    <button nbButton status="danger" (click)="createIndent(dialog)">New Indent</button>
</div>

<nb-card>
    <nb-card-body>
        <nb-tabset fullWidth>
            <nb-tab *ngIf="gm" tabTitle="PENDING">
                <ng2-smart-table [settings]="VPONLYsettings" [source]="VPIndentSource"
                    (custom)="onChangeIndentStatus($event.data,dialog1)">
                </ng2-smart-table>
            </nb-tab>
            <nb-tab *ngIf="admin" tabTitle="PENDING">
                <ng2-smart-table [settings]="ADMINONLYsettings" [source]="ADMINIndentSource"
                    (custom)="onChangeIndentStatus($event.data,dialog1)">
                </ng2-smart-table>
            </nb-tab>
            <nb-tab *ngIf="account" tabTitle="PENDING">
                <ng2-smart-table [settings]="ACCOUNTONLYsettings" [source]="ACCOUNTIndentSource"
                    (custom)="onChangeIndentStatus($event.data,dialog1)">
                </ng2-smart-table>
            </nb-tab>
            <nb-tab *ngIf="!gm && (admin || store)" tabTitle="GM">
                <ng2-smart-table [settings]="VPsettings" [source]="VPIndentSource">
                </ng2-smart-table>
            </nb-tab>
            <nb-tab *ngIf="!admin && (store || gm)" tabTitle="ADMIN">
                <ng2-smart-table [settings]="ADMINsettings" [source]="ADMINIndentSource">
                </ng2-smart-table>
            </nb-tab>
            <nb-tab *ngIf="!account" tabTitle="ACCOUNT">
                <ng2-smart-table [settings]="ACCOUNTsettings" [source]="ACCOUNTIndentSource">
                </ng2-smart-table>
            </nb-tab>
            <nb-tab *ngIf="store || admin || gm" tabTitle="REJECT">
                <ng2-smart-table [settings]="REJECTsettings" [source]="REJECTIndentSource">
                </ng2-smart-table>
            </nb-tab>
            <nb-tab *ngIf="store || admin || account" tabTitle="DONE">
                <ng2-smart-table [settings]="DONEsettings" [source]="DONEIndentSource">
                </ng2-smart-table>
            </nb-tab>
            <nb-tab *ngIf="store || admin" tabTitle="ALL">
                <ng2-smart-table [settings]="settings" [source]="IndentSource"
                    (custom)="onChangeIndentViewStatus($event.data,dialog2)">
                </ng2-smart-table>
            </nb-tab>

        </nb-tabset>
    </nb-card-body>
</nb-card>

<ng-template #dialog let-ref="dialogRef">
    <form [formGroup]="IndentForm" (ngSubmit)="onIndentFormSubmit()">
        <nb-card>
            <nb-card-header>Create Indent
                <button type="button" (click)="ref.close()" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </nb-card-header>
            <nb-card-body>
                <div class="form-group" formGroupName="storeItem">
                    <label for="Select_Item" class="label">Select Item</label>
                    <nb-select placeholder="Select Product Item" fullWidth formControlName="itemId" (ngModelChange)="ItemPriceTotal($event)">
                        <nb-option *ngFor="let item of item" value="{{item.itemId}}">{{item.itemName}}
                        </nb-option>
                    </nb-select>
                </div>

                <div class="form-group">
                    <label for="quantity" class="label">Quantity</label>
                    <input type="tel" nbInput fullWidth id="quantity" placeholder="quantity" formControlName="quantity" (keyup)="taxToatalQantity($event)">
                </div>

                <div class="form-group">
                    <label for="estimatedPrice" class="label">Estimated Unit Price</label>
                    <input type="tel" nbInput fullWidth id="estimatedPrice" placeholder="Estimated Unit Price" (keyup)="taxToatal($event)"
                        formControlName="estimatedPrice">
                </div>
                <div class="form-group">
                    <label for="tex" class="label">Tax %</label>
                    <input type="tel" nbInput readonly fullWidth id="tex" placeholder="Tax Price" value="{{tax}}">
                </div>
                <div class="form-group">
                    <label for="total" class="label">Total</label>
                    <input type="tel" nbInput readonly fullWidth id="total" placeholder="Total Price" value="{{total}}">
                </div>

            </nb-card-body>
            <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="ref.close()">Cancel</button>
                <button nbButton status="success" type="submit">Submit</button>
            </nb-card-footer>
        </nb-card>
    </form>
</ng-template>

<ng-template #dialog1 let-ref="dialogRef1">
    <form [formGroup]="IndentOpenForm">
        <nb-card>
            <nb-card-header>
                <button type="button" (click)="NbDialogRef1.close()" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </nb-card-header>
            <nb-card-body>

                <div class="form-group">
                    <label for="coments" class="label">Comments</label>
                    <input type="tel" nbInput fullWidth id="coments" placeholder="coments" formControlName="coments">
                </div>
                <div class="form-group">
                    <label for="remarks" class="label">Remarks</label>
                    <textarea nbInput fullWidth placeholder="remarks" formControlName="remarks"></textarea>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <button class="cancel" nbButton status="danger" (click)="NbDialogRef1.close()">Close</button>
                <button class="cancel" nbButton status="success" (click)="indentOpen()" type="button"
                    [disabled]="IndentOpenForm.get('coments').invalid">Submit</button>
                <button class="cancel" *ngIf="gm || admin" nbButton status="primary" (click)="indentReject()"
                    type="button" [disabled]="IndentOpenForm.get('coments').invalid">Reject</button>
            </nb-card-footer>
        </nb-card>
    </form>
</ng-template>

<ng-template #dialog2 let-ref="dialogRef">
    <nb-card>
        <nb-card-header>
            <button type="button" (click)="NbDialogRef2.close()" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </nb-card-header>
        <nb-card-body>
            <ng2-smart-table class="scroll-bar" [settings]="Responcesettings" [source]="ResponceSource">
            </ng2-smart-table>
        </nb-card-body>
        <nb-card-footer>
            <button class="cancel" nbButton status="danger" (click)="NbDialogRef2.close()">Close</button>
        </nb-card-footer>

    </nb-card>

</ng-template>