
<div class="row">
  <div class="col-xxl-4 col-xl-6 col-md-12">
    <nb-card>
      <nb-card-body>
        <canvas id="canvas" #screen></canvas>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="image('#canvas')">image</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-xxl-4 col-xl-6 col-md-12">
    <nb-card>
      <nb-card-body>
        <canvas id="canvas1"></canvas>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="image('#canvas1')">image</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-xxl-4 col-xl-6 col-md-12">
    <nb-card>
      <nb-card-body>
        <canvas id="canvas2"></canvas>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton (click)="image('#canvas2')">image</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
